{% extends 'base.html' %}
{% block content %}
<h1>{{ profile.name }}</h1>
{% if profile.foto %}
    <img src="{{ profile.foto.url }}" alt="{{ profile.name }}" width="120" />
{% endif %}
<p>{{ profile.description }}</p>
<h2>Projetos em destaque</h2>
<ul>
    {% for proj in highlights %}
        <li>
            <strong>{{ proj.title }}</strong><br>
            {% if proj.imagem %}
                <img src="{{ proj.imagem.url }}" width="80" alt="{{ proj.title }}" />
            {% endif %}
            <p>{{ proj.description }}</p>
            {% if proj.tecnologias.all %}
                <small>Tecnologias: {{ proj.tecnologias.all|join:", " }}</small>
            {% endif %}
        </li>
    {% empty %}
        <li>Nenhum projeto em destaque.</li>
    {% endfor %}
</ul>
{% endblock %}